*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

html, body {
    display: flex;
    flex-direction: column;
    min-height: 99vh;
}

.header {
    display: flex;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    margin-bottom: auto;
    align-items: center;
}

.right {
    justify-content: flex-end;
    margin-right: 1em;
    margin-top: 1em;
} 

.right a {
    margin: 3px;
    padding: 3px;
    text-decoration: none;
    color: black;
}

.right a input {
    background-color: rgb(83, 144, 224);
    color: rgb(243, 243, 243);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5% 5%;
    border-color: white;
    border-style: solid;
}

.left {
    justify-content: flex-start;
    margin-left: 1em;
    margin-top: 1em;
}

.left a {
    margin: 3px;
    padding: 3px;
    text-decoration: none;
    color: black;
}

.main-content {
    align-self: center;
}


.search-bar {
    display: flex;
    border: 1px solid #dfe1e5;
    width: 582px;
    height: 44px;
    border-radius: 24px;
    margin: 20px auto;
    
    box-shadow: .6px .6px .6px .6px #d3d3d3;
}

.mag-glass {
    height: 20px;
    line-height: 24px;
    margin: auto 10px;
}

.input-field {
    border: none;
    outline: none;
    display: flex;
    flex: 1;
}

.button {
    display: flex;
    justify-content:  center;
}

.button input {
    background-color: rgb(241, 240, 240);
    padding: 10px;
    margin: 10px;
    border-radius: 5% 5%;
    border-color: white;
    border-style: solid;
    
}

a:hover {
    text-decoration: underline;
}

input[type=submit]:hover {
    border: 1px solid rgb(238, 237, 241);
}


.footer {
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    background-color: rgb(236, 233, 233);
    margin-top: auto;
    padding: 1.25em;
    font-family: Arial, Helvetica, sans-serif;
}

.right2 {
    justify-content: flex-end;
}

.right2 a {
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: rgba(34, 33, 33, 0.712);
}

.left2 {
    justify-content: flex-end;
}

.left2 a {
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: rgba(34, 33, 33, 0.712);
}

